.experience-section {
  @include media(desktop) {
  }
}

.experience-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 72px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 140px;
    max-width: 1440px;
  }
}

.experience-container {
  @include media(desktop) {
  }
}

.experience-title {
  margin-bottom: 8px;

  @include media(desktop) {
    max-width: 626px;
    margin-left: auto;
    margin-right: auto;
  }
}

.experience-top-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #c8b98a;
  margin-bottom: 68px;

  @include media(desktop) {
    margin-bottom: 108px;
  }
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media(desktop) {
  }
}

.experience-list-item {
  display: flex;
  gap: 16px;
  width: 100%;
  max-width: 295px;
  min-height: 126px;
  margin-left: auto;
  margin-right: auto;

  &:last-child {
    min-height: 152px;
  }

  @include media(desktop) {
    max-width: 400px;
    min-height: 100px;

    &:last-child {
      min-height: 128px;
    }
  }
}

.experience-item-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  @include media(desktop) {
  }
}

.experience-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.experience-item-line {
  background: #3d8b2f;
  min-width: 1px;
  height: 68px;

  @include media(desktop) {
  }
}

.experience-item-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #c8b98a;

  @include media(desktop) {
  }
}
