.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 144px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 212px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.hero-text-wrapper {
  @include media(desktop) {
    max-width: 485px;
  }
}

.hero-main-title {
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08333;
  color: #f5eac8;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 50px;
    line-height: 1.08;
  }
}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
  }
}

.hero-list-item {
  display: flex;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
  }
}

.hero-item-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #c8b98a;

  @include media(desktop) {
  }
}

.square-icon {
  min-width: 18px;

  @include media(desktop) {
  }
}

.hero-cta-link {
  background: #4a7a35;
  border-radius: 50px;
  padding: 13px 51px;
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  color: #f5eac8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;

  @include media(desktop) {
    max-width: max-content;
    margin-top: 16px;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 593px;
    margin: 0;
  }
}
