<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">A Calm That Pulls You In</h2>
          <ul class="about-list">
            <li class="about-list-item">
              <p class="about-item-text">
                There’s a moment, somewhere between your first and fifth level,
                where everything clicks.
              </p>
            </li>
            <li class="about-list-item">
              <p class="about-item-text">
                You stop thinking about the rules. Your eyes begin to move
                differently across the board. You start seeing connections
                before you make them. A simple match turns into a chain
                reaction. A chain reaction becomes something bigger.
              </p>
            </li>
            <li class="about-list-item">
              <p class="about-item-text">
                And all around it — the forest responds.
              </p>
            </li>
            <li class="about-list-item">
              <p class="about-item-text">
                It grows. It breathes. It becomes something that feels tied to
                your actions, even if you can’t fully explain why.
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="502"
            height="494" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="337" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="337"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
