<section class="section experience-section" id="experience">
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <h2 class="section-title experience-title">
        The Moment You Create Something Bigger
      </h2>
      <p class="experience-top-text">
        The deeper you go, the less the forest feels like a single place.
      </p>
      <ul class="experience-list">
        <li class="experience-list-item">
          <div class="experience-item-icon-wrapper">
            <svg class="experience-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-gameplay1"></use>
            </svg>
            <div class="experience-item-line"></div>
          </div>
          <p class="experience-item-text">
            It happens when a move you almost didn't make turns into something
            unexpected.
          </p>
        </li>
        <li class="experience-list-item">
          <div class="experience-item-icon-wrapper">
            <svg class="experience-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-gameplay2"></use>
            </svg>
            <div class="experience-item-line"></div>
          </div>
          <p class="experience-item-text">
            A combination triggers another. Then another.
          </p>
        </li>
        <li class="experience-list-item">
          <div class="experience-item-icon-wrapper">
            <svg class="experience-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-gameplay3"></use>
            </svg>
            <div class="experience-item-line"></div>
          </div>
          <p class="experience-item-text">
            The board clears in a way that feels less like luck and more like
            something you set in motion.
          </p>
        </li>
        <li class="experience-list-item">
          <div class="experience-item-icon-wrapper">
            <svg class="experience-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-gameplay4"></use>
            </svg>
            <div class="experience-item-line"></div>
          </div>
          <p class="experience-item-text">
            The screen reacts. Light shifts. The forest changes again
          </p>
        </li>
        <li class="experience-list-item">
          <div class="experience-item-icon-wrapper">
            <svg class="experience-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-gameplay5"></use>
            </svg>
            <div class="experience-item-line"></div>
            <svg class="experience-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-gameplay6"></use>
            </svg>
          </div>
          <p class="experience-item-text">
            These are the moments that stay with you — not because they’re loud,
            but because they feel earned.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
