<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">
        It Feels Simple… Until It Isn’t
      </h2>
      <ul class="gameplay-list">
        <li class="gameplay-list-item">
          <p class="gameplay-item-text">
            You begin with a few pieces. Apples, gems, small glowing elements
            scattered across a quiet board. You swap them. Match three. Then
            another.
          </p>
        </li>
        <li class="gameplay-list-item">
          <p class="gameplay-item-text">Nothing complicated.</p>
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img1.png"
            alt="Screenshot of the game"
            width="155"
            height="155"
          />
        </li>
        <li class="gameplay-list-item">
          <p class="gameplay-item-text">Then the board shifts.</p>
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img2.png"
            alt="Screenshot of the game"
            width="155"
            height="155"
          />
        </li>
        <li class="gameplay-list-item">
          <p class="gameplay-item-text">
            You notice that not every move is equal. Some open space. Some close
            it. Some create opportunities you didn’t expect. You pause for a
            second longer before your next move.
          </p>
        </li>
        <li class="gameplay-list-item">
          <p class="gameplay-item-text">That’s when the game really starts.</p>
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img3.png"
            alt="Screenshot of the game"
            width="155"
            height="155"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
