<section class="locations-section section" id="locations">
  <div class="locations-section-wrapper">
    <div class="container locations-container">
      <h2 class="section-title locations-title">
        Five Places That Shouldn’t Exist Together
      </h2>
      <p class="locations-top-text">
        The deeper you go, the less the forest feels like a single place.
      </p>
      <ul class="locations-list">
        <li class="locations-list-item">
          <picture>
            <source
              srcset="./img/locations/locations-img1-desk.png"
              media="(min-width: 1440px)"
              width="170"
              height="170" />
            <source
              srcset="./img/locations/locations-img1-mob.png"
              width="110"
              height="110" />
            <img
              class="locations-img"
              src="./img/locations/locations-img1-mob.png"
              alt="Screenshot of the game"
              width="110"
              height="110"
          /></picture>
          <p class="locations-item-text">
            One path leads into a bright meadow where everything feels alive and
            open.
          </p>
        </li>
        <li class="locations-list-item">
          <picture>
            <source
              srcset="./img/locations/locations-img2-desk.png"
              media="(min-width: 1440px)"
              width="170"
              height="170" />
            <source
              srcset="./img/locations/locations-img2-mob.png"
              width="110"
              height="110" />
            <img
              class="locations-img"
              src="./img/locations/locations-img2-mob.png"
              alt="Screenshot of the game"
              width="110"
              height="110"
          /></picture>
          <p class="locations-item-text">
            Another pulls you into darker woods where shapes blur and the air
            feels heavier.
          </p>
        </li>
        <li class="locations-list-item">
          <picture>
            <source
              srcset="./img/locations/locations-img3-desk.png"
              media="(min-width: 1440px)"
              width="170"
              height="170" />
            <source
              srcset="./img/locations/locations-img3-mob.png"
              width="110"
              height="110" />
            <img
              class="locations-img"
              src="./img/locations/locations-img3-mob.png"
              alt="Screenshot of the game"
              width="110"
              height="110"
          /></picture>
          <p class="locations-item-text">
            Then suddenly, you are somewhere underground — surrounded by
            crystals that reflect more than just light.
          </p>
        </li>
        <li class="locations-list-item">
          <picture>
            <source
              srcset="./img/locations/locations-img4-desk.png"
              media="(min-width: 1440px)"
              width="170"
              height="170" />
            <source
              srcset="./img/locations/locations-img4-mob.png"
              width="110"
              height="110" />
            <img
              class="locations-img"
              src="./img/locations/locations-img4-mob.png"
              alt="Screenshot of the game"
              width="110"
              height="110"
          /></picture>
          <p class="locations-item-text">
            And above it all, a canopy stretches higher than it should, almost
            as if the forest is trying to grow beyond itself.
          </p>
        </li>
        <li class="locations-list-item">
          <picture>
            <source
              srcset="./img/locations/locations-img5-desk.png"
              media="(min-width: 1440px)"
              width="170"
              height="170" />
            <source
              srcset="./img/locations/locations-img5-mob.png"
              width="110"
              height="110" />
            <img
              class="locations-img"
              src="./img/locations/locations-img5-mob.png"
              alt="Screenshot of the game"
              width="110"
              height="110"
          /></picture>
          <p class="locations-item-text">
            Ruins appear where nothing should remain
          </p>
        </li>
      </ul>
      <p class="locations-bottom-text">
        Every area has its own vibe and really changes how you approach the
        puzzles.
      </p>
    </div>
  </div>
</section>
